html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  height: 100vh;
}

.stock {
  height: 100%;
}

.stock__top {
  display: flex;
  flex-direction: column;
}

.stock__inner {
  max-width: 42rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 520px) {
    width: 100%;
    max-width: 100%;
  }
}

.stock__page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 83.333333%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(248 250 252);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  color: red;
}

.table {
  border-collapse: separate;
  text-align: left;
}

.table__inner {
  margin-top: 2rem;
  justify-self: start;
}

.table__thead th:nth-child(1) {
  width: 11%;
}

.table__thead th:nth-child(2) {
  width: 33%;
}

.table__thead th:nth-child(2) {
  width: 22%;
}

.table__thead th:nth-child(2) {
  width: 33%;
}

.table__row {
  border-top: 2px solid rgb(203 213 225);
  margin: 10px;
}

.new-item-btn {
  background-color: red;
  color: white;
  width: 60%;
  border: none;
  padding: 12px;
}

.stock__btn {
  align-self: center;
}

.modal {
  transition-duration: 500ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal--hidden {
  display: none;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__inner {
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__item {
  width: 33.333333%;
  min-height: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 520px) {
    width: 90%;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.modal__cross {
  width: 20px;
  height: 20px;
}

.modal__inputs {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(203 213 225);
  border-bottom: 2px solid rgb(203 213 225);
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal__row {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.modal__input {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(203 213 225);
}

.modal__input--invalid {
  border-color: red;
}

.modal__invalid-desc {
  visibility: hidden;
}

.modal__invalid-desc--invalid {
  color: red;
  visibility: visible;
}

.modal__btns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.modal-btn {
  border-radius: 0.375rem;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

.modal__close {
  background-color: rgb(75, 85, 99);
}

.modal__add {
  background-color: red;
}

.table__item-id {
  font-weight: bold;
}
